:where([data-theme="solarized"]) {
  --mz-bg: #002b36;
  --mz-slide-bg: #fdf6e3;
  --mz-fg: #586e75;
  --mz-muted: #5c6f74;
  --mz-accent1: #1c6ca3;
  --mz-accent2: #2aa198;
  --mz-border: #eee8d5;
  --mz-chart3: #cb4b16;
  --mz-chart4: #6c71c4;
  --mz-chart5: #dc322f;
  --mz-chart6: #6f8000;
  --mz-shape-fill: #eee8d5;
  --mz-surface: #f5efdd;
  --mz-danger-bg: #f7e2dc;
  --mz-danger-fg: #a5312e;
  --mz-danger-border: #dc322f;
  --mz-code-keyword: #5e6c00;
  --mz-code-string: #1c706a;
  --mz-code-comment: #5c6f74;
  --mz-code-function: #1c6ca3;
  --mz-code-number: #a02a68;
  --mz-code-operator: #8a5f00;
}
@media (prefers-color-scheme: dark) {
  :where([data-theme="solarized"]:not([data-mode="light"]):not([data-mode="light"] *)) {
    --mz-bg: #002b36;
    --mz-slide-bg: #073642;
    --mz-fg: #93a1a1;
    --mz-muted: #97a7a7;
    --mz-accent1: #4ba6e0;
    --mz-accent2: #2aa198;
    --mz-border: #586e75;
    --mz-chart3: #e0672f;
    --mz-chart4: #8288d6;
    --mz-chart5: #ea5551;
    --mz-chart6: #859900;
    --mz-shape-fill: #073642;
    --mz-surface: #052c36;
    --mz-danger-bg: #3c2523;
    --mz-danger-fg: #f0918e;
    --mz-danger-border: #dc322f;
    --mz-code-keyword: #8a9e00;
    --mz-code-string: #2aa198;
    --mz-code-comment: #8ba0a0;
    --mz-code-function: #4ba6e0;
    --mz-code-number: #d878a8;
    --mz-code-operator: #b58900;
  }
}
:where([data-mode="dark"] [data-theme="solarized"]:not([data-mode="light"]):not([data-mode="light"] *)),
:where([data-theme="solarized"][data-mode="dark"]) {
  --mz-bg: #002b36;
  --mz-slide-bg: #073642;
  --mz-fg: #93a1a1;
  --mz-muted: #97a7a7;
  --mz-accent1: #4ba6e0;
  --mz-accent2: #2aa198;
  --mz-border: #586e75;
  --mz-chart3: #e0672f;
  --mz-chart4: #8288d6;
  --mz-chart5: #ea5551;
  --mz-chart6: #859900;
  --mz-shape-fill: #073642;
  --mz-surface: #052c36;
  --mz-danger-bg: #3c2523;
  --mz-danger-fg: #f0918e;
  --mz-danger-border: #dc322f;
  --mz-code-keyword: #8a9e00;
  --mz-code-string: #2aa198;
  --mz-code-comment: #8ba0a0;
  --mz-code-function: #4ba6e0;
  --mz-code-number: #d878a8;
  --mz-code-operator: #b58900;
}
